-
  var items = [
    {
      className: "do",
      displayText: "ド"
    },
    {
      className: "re",
      displayText: "レ"
    },
    {
      className: "mi",
      displayText: "ミ",
    },
    {
      className: "fa",
      displayText: "ファ",
    },
    {
      className: "so",
      displayText: "ソ",
    },
    {
      className: "ra",
      displayText: "ラ",
    },
    {
      className: "si",
      displayText: "シ",
    },
    {
      className: "octDo",
      displayText: "ド",
    },
  ]

